__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
.conda
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.gradle
test/
node_modules/