.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}


img {
  background: cover;
  border-radius:8px;
  background-color: black;
}

img:hover {
  background-color: black;
  opacity: 80%;
  scale:110%;
  animation-duration: 400ms;
}